$count: 7;
$size: 50px;
$color-other: #ffdead;
$color-tile: #deadff;
$color-tile-hover: #deaddd;
$color-button: #deadaa;
$color-button-hover: #aadead;
$margin: 50px;

@mixin h-align-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin tile($color : black) {
  width: $size;
  height: $size;
  border: 1px solid $color;
  text-align: center;
  font-size: $size;
  line-height: 90%;
  margin: -1px;
}

body {
  background-image: url("../images/3.jpg");
}

.content {
  @include h-align-center;
  border: 2px double white;
  height: (($count + 3) * $size) + (3 * $margin);
  width: ($count * $size) + (2 * $margin);
  margin-top: $margin;
}

.gamefield {
  @include h-align-center;
  position: relative;
  margin-top: $margin;
  width: $count * $size;
  height: $count * $size;
  border: 1px solid red;
}

.rack {
  @include h-align-center;
  margin-top: $margin;
  width: $count * $size;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cell {
  @include tile;
  position: absolute;
}

.tile {
  @include tile(blue);
  display: inline-block;
  background-color: $color-tile;
  border-radius: $size / 10;
  flex-grow: 0;
  flex-basis: auto;
}
.tile:hover {
  background-color: $color-tile-hover;
}

.button {
  width: $size * 3;
  height: $size;
  background-color: $color-button;
  border-radius: $size / 10;
}
.button:hover {
  background-color: $color-button-hover;
}

.odd {
  background-color: $color-other;
}

@for $i from 0 through ($count - 1) {
  .col_#{$i} {left: $size * $i}
  .row_#{$i} {top: $size * $i}
}