$count: 7;
$size: 50px;
$color-other: #ffdead;
$color-tile: #ffbbfe;
$color-tile-human: #bbffec;
$color-tile-machine: #7cc6ff;
$color-tile-hover: #deaddd;
$color-button: #deadaa;
$color-button-hover: #aadead;
$color-disabled: lightgray;
$margin: 50px;

@mixin h-align-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin tile($color : black) {
  width: $size;
  height: $size;
  border: 1px solid $color;
  text-align: center;
  font-size: $size;
  line-height: 90%;
}

@mixin control-panel__button($flex-direction : column) {
  width: $size * 3;
  height: $size;
  background-color: $color-button;
  border-radius: $size / 10;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: $flex-direction;
}

@mixin container($justify-content : flex-start) {
  @include h-align-center;
  margin-top: $margin;
  width: $count * $size;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: $justify-content;
}

body {
  background-image: url("../images/3.jpg");
}

.content {
  @include h-align-center;
  border: 2px double white;
  height: (($count + 4) * $size) + (4 * $margin);
  width: ($count * $size) + (2 * $margin);
  margin-top: $margin;
}

.gamefield {
  @include h-align-center;
  position: relative;
  margin-top: $margin;
  width: $count * $size;
  height: $count * $size;
  border: 1px solid red;
}

.rack-container {
  @include container;
}

.controlpanel-container {
  @include container(space-between);
}

.scoreboard-container {
  @include container(initial);
}

.scoreboard-container__score {
  width: ($count * $size) / 2;
  height: $size;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scoreboard-container__score_human {
  background-color: $color-tile-human;
}

.scoreboard-container__score_machine {
  background-color: $color-tile-machine;
}

.cell {
  @include tile;
  position: absolute;
}

.tile {
  @include tile($color-tile + #ffdead);
  display: inline-block;
  background-color: $color-tile;
  border-radius: $size / 10;
  flex-grow: 0;
  flex-basis: auto;
}
.tile:hover {
  background-color: $color-tile-hover;
}

.control-panel__move-button {
  @include control-panel__button(column);
}

.control-panel__move-button_hilighted {
  background-color: $color-button-hover;
}

.control-panel__move-button_disabled {
  background-color: $color-disabled;
}

.control-panel__trashcan-button {
  @include control-panel__button(row);
}

.control-panel__trashcan {
  width: 45px;
  height: 45px;
  background-image: url(../images/trash.png);
}

.control-panel__trashcan_hilighted {
  background-position: 100px;
}

.control-panel__trashcan_full {
  background-position: 500px;
}

.WORD_3X {
  background-color: red;
}

.WORD_2X {
  background-color: green;
}

.LETTER_3X {
  background-color: yellow;
}

.LETTER_2X {
  background-color: darkblue;
}

.HUMAN {
  background-color: $color-tile-human;
}

.MACHINE {
  background-color: $color-tile-machine;
}