body {
  background-image: url("../images/3.jpg"); }

.content {
  margin-left: auto;
  margin-right: auto;
  border: 2px double white;
  height: 650px;
  width: 450px;
  margin-top: 50px; }

.gamefield {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 50px;
  width: 350px;
  height: 350px;
  border: 1px solid red; }

.rack {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; }

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  line-height: 90%;
  margin: -1px;
  position: absolute; }

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  text-align: center;
  font-size: 50px;
  line-height: 90%;
  margin: -1px;
  display: inline-block;
  background-color: #deadff;
  border-radius: 5px;
  flex-grow: 0;
  flex-basis: auto; }

.tile:hover {
  background-color: #deaddd; }

.button {
  width: 150px;
  height: 50px;
  background-color: #deadaa;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  flex-direction: column; }

.hilighted {
  background-color: #aadead; }

.disabled {
  background-color: lightgray; }

.WORD_3X {
  background-color: red; }

.WORD_2X {
  background-color: green; }

.LETTER_3X {
  background-color: yellow; }

.LETTER_2X {
  background-color: darkblue; }

.UNALLOWED {
  background-color: black; }
